<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>CadastroDeAnunciosApp</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1>Relatório de Anúncios</h1>
	<div class="container form anuncio">
	<form class="container" method= "post">
		Cliente <input type="text" required name="nomeCliente"/>
		Data Início <input type= "date" required name="dataInicio"/>
		Data Término <input type= "date" required name="dataTermino"/>
		<button type="submit">Pesquisar</button>	
	</form>
	</div>
	<div>
	<h3>Anúncios Cadastrados</h3>
	<table>
		<thead>
			<tr>
				<th >Cliente</th>
				<th>Nome do Anúncio</th>
				<th>Data de Início</th>
				<th>Data de Término</th>
				<th>Valor Investido por dia</th>
				<th>Valor Total Investido</th>
				<th>Quantidade Máxima de Visualizações</th>
				<th>Quantidade Máxima de Cliques</th>
				<th>Quantidade Máxima de Compartilhamentos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="anuncio : ${anuncios}">
	 
				<td><span th:text= "${anuncio.nomeCliente}"></span></td>	
				<td><span th:text= "${anuncio.nomeAnuncio}"></span></td>
				<td><span th:text= "${anuncio.dataInicio}"></span></td>
				<td><span th:text= "${anuncio.dataTermino}"></span></td>
				<td><span th:text= "${anuncio.valorInvestido}"></span></td>
				<td><span th:text= "${anuncio.valorTotalInvestido}"></span></td>
				<td><span th:text= "${anuncio.quantMaxVisualizacoes}"></span></td>
				<td><span th:text= "${anuncio.quantMaxCliques}"></span></td>
				<td><span th:text= "${anuncio.quantMaxCompartilhamento}"></span></td>
		</tbody>
	</table>
	</div>
	 <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>